[settings]
DEBUG=False
SECRET_KEY=SECRET_KEY
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_ENGINE=django.db.backends.sqlite3
DATEBASE_NAME=/tmp/cubefiles/db.sqlite3
TIME_ZONE=Asia/Kolkata
CELERY_BROKER_URL=amqp://guest:guest@172.17.0.1:5672/
LOG_FILE=/tmp/cubefiles/cube_project_debug.log
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@xyz.com
ADMIN_PASSWORD=admin
